<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>支付成功</title>
	    <link rel="stylesheet" href="{CSS_PATH}success.css" />
	    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_803380_9bt5gt9s86w.css"/>
	    <script type="text/javascript"  src="{JS_PATH}rem.js" ></script>
		<script src="{JS_PATH}jquery.js"></script>
	</head>
	<body>
		<div class="success">
			  <img src="{IMG_PATH}success.png"/>
			  <h1>您本次完成消费</h1>
			  <span>¥521.82</span>
			  <p>谢谢您的消费欢迎下次光临</p>
			  <div class="img">
			  	<img src="{IMG_PATH}true.png"/>
			  </div>
		</div>
		<div class="btn">
			 <span>
			 	<li class="one"><a href="/sdk/index.php">返回首页</a></li>
			    <li class="two"><a href="">查看订单</a></li>
			 </span>
			
		</div>
	</body>
	<script src="{JS_PATH}success.js">
	</script>
</html>
